In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
data_hosp = pd.read_csv('COVID-19_Reported_Patient_Impact_and_Hospital_Capacity_by_State_Timeseries.csv')

In [42]:
data_hosp

,state,date,critical_staffing_shortage_today_yes,critical_staffing_shortage_today_no,critical_staffing_shortage_today_not_reported,critical_staffing_shortage_anticipated_within_week_yes,critical_staffing_shortage_anticipated_within_week_no,critical_staffing_shortage_anticipated_within_week_not_reported,hospital_onset_covid,hospital_onset_covid_coverage,...,previous_day_admission_pediatric_covid_confirmed_5_11,previous_day_admission_pediatric_covid_confirmed_5_11_coverage,previous_day_admission_pediatric_covid_confirmed_unknown,previous_day_admission_pediatric_covid_confirmed_unknown_coverage,staffed_icu_pediatric_patients_confirmed_covid,staffed_icu_pediatric_patients_confirmed_covid_coverage,staffed_pediatric_icu_bed_occupancy,staffed_pediatric_icu_bed_occupancy_coverage,total_staffed_pediatric_icu_beds,total_staffed_pediatric_icu_beds_coverage
0,VI,2020/10/16,1,1,0,2,0,0,0.0,2,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
1,VI,2020/10/15,1,1,0,2,0,0,0.0,2,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
2,VI,2020/10/13,1,1,0,2,0,0,0.0,2,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
3,VT,2020/10/12,1,15,1,1,15,1,0.0,16,...,NaN,0,NaN,0,0.0,1,16.0,1,33.0,1
4,VI,2020/10/11,1,1,0,2,0,0,0.0,2,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43908,SC,2021/05/28,19,66,2,19,66,2,5.0,85,...,NaN,0,NaN,0,NaN,0,256.0,85,373.0,85
43909,LA,2021/01/24,45,170,7,46,169,7,15.0,215,...,NaN,0,NaN,0,NaN,0,6.0,4,11.0,4
43910,UT,2021/01/26,1,51,1,1,51,1,0.0,52,...,NaN,0,NaN,0,NaN,0,197.0,52,416.0,52
43911,PA,2021/04/24,22,201,6,25,198,6,30.0,223,...,NaN,0,NaN,0,NaN,0,947.0,222,1299.0,222
43912,VT,2021/02/21,2,14,1,2,14,1,1.0,16,...,NaN,0,NaN,0,NaN,0,20.0,1,33.0,1

In [10]:
data_date3 = pd.read_excel('date-fit.xlsx')
date_series = data_date3['date'].squeeze()
date_series_str = date_series.dt.strftime('%Y/%m/%d')
date_series_str3 = date_series.dt.strftime('%Y-%m-%d')
date_series_str2 = date_series.dt.strftime('%m/%d/%Y')

In [11]:
def get_info2(XX, state, df2, b):
    listo = list(date_series_str)
    for x in listo:
        df = df2[df2['date'] == XX] 
        df = df[df['state'] == state]
        a = df[b]
        if df.size == 0:
            return float('nan')
        else:
            return a.squeeze()

In [12]:
get_info2('2022/03/09', 'US', data_hosp, 'previous_day_admission_adult_covid_confirmed_18-19')

nan

In [13]:
import datetime as dt
hosp_data = pd.DataFrame(columns = ['date', 'state', '0-4', '5-11', '12-18', '19-49', '50-64', '65+', 'tot'])
   
cov_65 = 0
cov_50_64 = 0
cov_19_49 = 0
cov_12_18 = 0
cov_tot = 0
print('FL')
i = 0
for date in date_series_str:
    cov_65 = get_info2(date, 'FL', data_hosp, 'previous_day_admission_adult_covid_confirmed_70-79') + 0.5*get_info2(date, 'FL', data_hosp, 'previous_day_admission_adult_covid_confirmed_60-69') + get_info2(date, 'FL', data_hosp, 'previous_day_admission_adult_covid_confirmed_80+')
    cov_50_64 = get_info2(date, 'FL', data_hosp, 'previous_day_admission_adult_covid_confirmed_50-59') + 0.5*get_info2(date, 'FL', data_hosp, 'previous_day_admission_adult_covid_confirmed_60-69')
    cov_19_49 = get_info2(date, 'FL', data_hosp, 'previous_day_admission_adult_covid_confirmed_18-19') + get_info2(date, 'FL', data_hosp, 'previous_day_admission_adult_covid_confirmed_20-29') + get_info2(date, 'FL', data_hosp, 'previous_day_admission_adult_covid_confirmed_30-39') + get_info2(date, 'FL', data_hosp, 'previous_day_admission_adult_covid_confirmed_40-49')    
    cov_tot = cov_65 + cov_50_64 + cov_19_49
    hosp_data = hosp_data.append({'date' : date, 'state' : 'FL', '0-4' : 0, '5-11' : 0, '12-18' : 0, '19-49' : cov_19_49, '50-64' : cov_50_64, '65+' : cov_65, 'tot': cov_tot}, 
            ignore_index = True)
    i = i+1

FL

In [14]:
hosp_data

          date state 0-4 5-11 12-18  19-49  50-64    65+    tot
0   2022/02/21    FL   0    0     0   64.0   73.5  207.5  345.0
1   2022/02/22    FL   0    0     0   83.0   90.0  264.0  437.0
2   2022/02/23    FL   0    0     0   58.0   78.0  225.0  361.0
3   2022/02/24    FL   0    0     0   71.0   77.5  231.5  380.0
4   2022/02/25    FL   0    0     0   62.0   85.0  204.0  351.0
..         ...   ...  ..  ...   ...    ...    ...    ...    ...
91  2022/05/23    FL   0    0     0   60.0   59.5  191.5  311.0
92  2022/05/24    FL   0    0     0   76.0   73.0  224.0  373.0
93  2022/05/25    FL   0    0     0  101.0   66.0  225.0  392.0
94  2022/05/26    FL   0    0     0   87.0   76.5  230.5  394.0
95  2022/05/27    FL   0    0     0   67.0   75.0  242.0  384.0

[96 rows x 9 columns]

In [15]:
state_abv= pd.read_csv('states.csv')

In [16]:
def get_state(state, df2):
    df = df2[df2['Abbreviation'] == state]
    a = df['State']
    if df.size == 0:
        return float('nan')
    else:
        return a.squeeze()

In [17]:
get_state('UT' , state_abv)

'Utah'

In [26]:
State_cases = pd.read_csv('us-states.csv')

In [27]:
def get_fit_data(state):
    fit_data = pd.DataFrame(columns = ['date', 'state', 'death', 'case', 'hosp'])
    death = 0
    case = 0
    cov_tot = 0
    i = 0
    state_comp = get_state(state, state_abv) 
    for date in date_series_str:
        death = get_info2(date_series_str3[i], state_comp, State_cases, 'deaths')
        case = get_info2(date_series_str3[i], state_comp, State_cases, 'cases')
        cov_65 = get_info2(date_series_str[i], state, data_hosp, 'previous_day_admission_adult_covid_confirmed_70-79') + 0.5*get_info2(date_series_str[i], state, data_hosp, 'previous_day_admission_adult_covid_confirmed_60-69') + get_info2(date_series_str[i], state, data_hosp, 'previous_day_admission_adult_covid_confirmed_80+')
        cov_50_64 = get_info2(date_series_str[i], state, data_hosp, 'previous_day_admission_adult_covid_confirmed_50-59') + 0.5*get_info2(date_series_str[i], state, data_hosp, 'previous_day_admission_adult_covid_confirmed_60-69')
        cov_19_49 = get_info2(date_series_str[i], state, data_hosp, 'previous_day_admission_adult_covid_confirmed_18-19') + get_info2(date_series_str[i], state, data_hosp, 'previous_day_admission_adult_covid_confirmed_20-29') + get_info2(date_series_str[i], state, data_hosp, 'previous_day_admission_adult_covid_confirmed_30-39') + get_info2(date_series_str[i], state, data_hosp, 'previous_day_admission_adult_covid_confirmed_40-49')    
        cov_tot = cov_65 + cov_50_64 + cov_19_49

        fit_data = fit_data.append({'date' : date, 'state' : state, 'death' : death, 'case' : case, 'hosp' : cov_tot}, 
                ignore_index = True)
        i = i+1
    return fit_data

In [28]:
x = 'AL'
fit_data = get_fit_data(x)

In [29]:
fit_data

          date state  death     case   hosp
0   2022/02/21    AL  17933  1273484   95.0
1   2022/02/22    AL  17938  1274123  105.0
2   2022/02/23    AL  18007  1275355  106.0
3   2022/02/24    AL  18102  1276580   79.0
4   2022/02/25    AL  18186  1277837  107.0
..         ...   ...    ...      ...    ...
91  2022/05/23    AL  19649  1309185   19.0
92  2022/05/24    AL  19650  1309743   26.0
93  2022/05/25    AL  19651  1310513   41.0
94  2022/05/26    AL  19651  1311381   22.0
95  2022/05/27    AL  19658  1312437   22.0

[96 rows x 5 columns]

In [30]:
state_list = pd.read_excel('FIPState.xlsx')

In [31]:
state_series = state_list['st'].squeeze()

In [32]:
state_series

0     AL
1     AK
2     AZ
3     AR
4     CA
5     CO
6     CT
7     DE
8     FL
9     GA
10    HI
11    ID
12    IL
13    IN
14    IA
15    KS
16    KY
17    LA
18    ME
19    MD
20    MA
21    MI
22    MN
23    MS
24    MO
25    MT
26    NE
27    NV
28    NH
29    NJ
30    NM
31    NY
32    NC
33    ND
34    OH
35    OK
36    OR
37    PA
38    RI
39    SC
40    SD
41    TN
42    TX
43    UT
44    VT
45    VA
46    WA
47    WV
48    WI
49    WY
Name: st, dtype: object

In [33]:
listo = list(state_series)
for x in listo:
    x = x.strip()
    fit_data = get_fit_data(x)
    y = "fit_data/" + x + ".csv"
    fit_data.to_csv(y)

In [41]:
    x = 'WV'
    fit_data = get_fit_data(x)
    y = "fit_data/" + x + ".csv"
    fit_data.to_csv(y)

In [34]:
USA_cases = pd.read_csv('us.csv')

In [35]:
def get_info3(XX, df2, b):
    listo = list(date_series_str)
    for x in listo:
        df = df2[df2['date'] == XX] 
        a = df[b]
        if df.size == 0:
            return float('nan')
        else:
            return a.squeeze()

In [36]:
fit_us_data = pd.DataFrame(columns = ['date', 'state', 'death', 'case', 'hosp'])
death = 0
case = 0
cov_tot = 0
i = 0
state = 'US'
listo = list(state_series)
state_comp = get_state(state, state_abv) 
for date in date_series_str:
    death = get_info3(date_series_str3[i], USA_cases, 'deaths')
    case = get_info3(date_series_str3[i],  USA_cases, 'cases')
    listo = list(state_series)
    hospis = 0
    for x in listo:
        x = x.strip()
        cov_65 = get_info2(date_series_str[i], x, data_hosp, 'previous_day_admission_adult_covid_confirmed_70-79') + 0.5*get_info2(date_series_str[i], x, data_hosp, 'previous_day_admission_adult_covid_confirmed_60-69') + get_info2(date_series_str[i], x, data_hosp, 'previous_day_admission_adult_covid_confirmed_80+')
        cov_50_64 = get_info2(date_series_str[i], x, data_hosp, 'previous_day_admission_adult_covid_confirmed_50-59') + 0.5*get_info2(date_series_str[i], x, data_hosp, 'previous_day_admission_adult_covid_confirmed_60-69')
        cov_19_49 = get_info2(date_series_str[i], x, data_hosp, 'previous_day_admission_adult_covid_confirmed_18-19') + get_info2(date_series_str[i], x, data_hosp, 'previous_day_admission_adult_covid_confirmed_20-29') + get_info2(date_series_str[i], x, data_hosp, 'previous_day_admission_adult_covid_confirmed_30-39') + get_info2(date_series_str[i], x, data_hosp, 'previous_day_admission_adult_covid_confirmed_40-49')    
        cov_tot = cov_65 + cov_50_64 + cov_19_49
        hospis = hospis + cov_tot
    fit_us_data = fit_us_data.append({'date' : date, 'state' : state, 'death' : death, 'case' : case, 'hosp' : hospis}, 
            ignore_index = True)
    i = i+1

In [37]:
fit_us_data.to_csv('fit_data_us.csv')

In [39]:
fit_us_data

          date state    death      case    hosp
0   2022/02/21    US   934654  78433652  4399.0
1   2022/02/22    US   937380  78556769  5336.0
2   2022/02/23    US   940404  78641313  5182.0
3   2022/02/24    US   943312  78714719  4902.0
4   2022/02/25    US   946121  78800705  4673.0
..         ...   ...      ...       ...     ...
91  2022/05/23    US  1000826  83325014  3235.0
92  2022/05/24    US  1001375  83457379  3634.0
93  2022/05/25    US  1002179  83644909  3745.0
94  2022/05/26    US  1002522  83769493  3814.0
95  2022/05/27    US  1003124  83908242  3844.0

[96 rows x 5 columns]